<div class="header">
  <h1>Antoine Bour / experimental / web / learning / familly / pictures / ... </h1>
</div>
<div class="headeralign">
  <div class="row col-xs-2"></div>
  <div class="row col-xs-8">
     <h2>
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a routerlink="home" routerLinkActive="active">Accueil</a></li>
        <li role="presentation"><a routerLink="cv" routerLinkActive="active">CV</a></li>
        <li role="presentation"><a routerLink="photos" routerLinkActive="active">Photos</a></li>
        <li role="presentation"><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        <li role="presentation"><a routerLink="theatre" routerLinkActive="active">Theatre</a></li>
        <li role="presentation"><a routerLink="genealogie" routerLinkActive="active">Genealogie</a></li>
        <li role="presentation"><a routerLink="piwik" routerLinkActive="active">Piwik</a></li>
        <li role="presentation"><a routerLink="admin" routerLinkActive="active">Admin</a></li>
        <li role="presentation"><a routerLink="howto" routerLinkActive="active">How to</a></li>
      </ul>
    </h2>
  </div>
  <div class="row col-xs-2"></div>
</div>
